<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baseball</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=baseball&amp;path=baseball</string>
		<key>mode</key>
		<integer>1</integer>
	</dict>
	<key>Basketball</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=basketball2&amp;path=mbball</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=basketball2&amp;path=wbball</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Cross Country</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=crosscountry2&amp;path=mcross</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=crosscountry2&amp;path=wcross</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Football</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=football&amp;path=football</string>
		<key>mode</key>
		<integer>1</integer>
	</dict>
	<key>Golf</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=golf&amp;path=golf</string>
		<key>mode</key>
		<integer>1</integer>
	</dict>
	<key>Hockey</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=hockey&amp;path=hockey</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=icehockey&amp;path=whock</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Indoor Track</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=indoortrack&amp;path=indoortrack</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=indoortrack2&amp;path=windoortrack</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Lacrosse</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=lacrosse&amp;path=mlax</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=lacrosse2&amp;path=wlax</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Soccer</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=soccer2&amp;path=msoc</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=soccer2&amp;path=wsoc</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Swimming &amp; Diving</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=swimmingdiving&amp;path=mswim</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=swimmingdiving2&amp;path=wswim</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Tennis</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=tennis&amp;path=mten</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=tennis&amp;path=wten</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Outdoor Track</key>
	<dict>
		<key>Men</key>
		<string>http://rpiathletics.com/index.aspx?tab=trackandfield&amp;path=mtrack</string>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=trackandfield&amp;path=wtrack</string>
		<key>mode</key>
		<integer>2</integer>
	</dict>
	<key>Field Hockey</key>
	<dict>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=fieldhockey&amp;path=fhockey</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
	<key>Softball</key>
	<dict>
		<key>Women</key>
		<string>http://rpiathletics.com/index.aspx?tab=softball&amp;path=softball</string>
		<key>mode</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
